
.login {
    color:white;
  }
  .login_container{
    padding: 2em;
    text-align: center;
    background-color: black;
    border: 1px solid 251a36;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .MuiButton-label{
    color:white;
    border: 1px solid white;
    padding: 1em;
  }